<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.radio"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
  //没有上边框
        <activity
            android:name="com.example.radio.RadioActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.example.radio.setup" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>

        <receiver android:name="com.radio.widget.RadioPlayerAppWidget" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/radio_player_widget" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bonovo.radio.RADIO_STATUS"/>
                <action android:name="com.bonovo.radio.widget.ACTION_PLAY_STOP"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.radio.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" >
                </action>
                <action android:name="android.intent.action.BONOVO_RADIO_KEY" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.radio.RadioImportActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name="com.example.radio.RadioCustomColorActivity"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name="com.example.radio.IntentActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.radio.IntentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="RadioService" >
            <intent-filter>
                <action android:name="com.example.radio.RadioService" />
            </intent-filter>
        </service>
    </application>

</manifest>