<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bonovo.bluetoothmusic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:label="@string/title_activity_bonovo_bluetooth_music" 
        android:icon="@drawable/ic_launcher_music">
        
        <!--  the bluetooth music application -->
        <activity
            android:name=".BluetoothMusic"
            android:icon="@drawable/ic_launcher_music"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/title_activity_bonovo_bluetooth_music" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
